/target
/testimages
/testimages_24m
/testimages-preprocess

/testimages_small/aligned
/testimages_small/bunches
/testimages_small/final
picolay_test_stack
picolay_test_stack.zip
nohup.out
retag.sh
.vscode/settings.json
dist
/testimages-focus-stack-pyramid
/testimages_small
